#map{
width: 100%;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
  #map {
    height: 350px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .btn {
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
  }
  .row.g-2 {
    flex-direction: column;
  }

  .col-md-2, .col-md-4{
    width: 100%;
  }

  .container.my-3, .container.mb-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .filter-btn,
   #locateMeBtn {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}
}
